/*
 * APP
 */

:root {
  --textColor: #555;
  --bodyBg: 'http://cdn.backgroundhost.com/backgrounds/subtlepatterns/first_aid_kit.png'
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  background: url(var(--bodyBg));
  font-family: 'Roboto', sans-serif;
  color: var(--textColor);
}

a {
  color: var(--textColor);
}

.app {
  width: 100%;
  max-width: 768px;
  margin: 10rem auto;
  text-align: center;
}
