:root {
  --linkColor: #555;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;

  & a,
  & span {
    color: var(--linkColor);
    position: relative;
    margin-right: 16px;

    &:after {
      /* do not apply underline for pseude */
      position: absolute;
      right: -10px;
      content: '•';
    }

    &:last-child:after {
      content: '';
    }
  }
}
