:root {
  --inputBg: white;
  --inputPad: 1rem;
  --inputBorder: color(var(--inputBg) blackness(35%));
  --inputBorderRadius: .3rem;
}

.input {
  font-size: 1.5rem;
  width: 100%;
  padding: var(--inputPad);
  background-color: color(var(--inputBg) alpha(0.5));
  transition: all .2s linear;
  border: 1px solid var(--inputBorder);
  border-radius: var(--inputBorderRadius);
  box-sizing: border-box;
  box-shadow: inset 0 2px 2px var(--inputBorder);

  &:active,
  &:focus {
    background-color: var(--inputBg);
    outline: none;
  }
}
