$text-color: #555;
$victory-color: #0dd50d;
$betrayal-color: #ff4848;

$input-bg: #fff;
$input-border: color($input-bg blackness(35%));
$bg-start: #eee;
$bg-end: #ccc;

html {
  height: 100%;
  min-height: 100%;
}

body {
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/first_aid_kit.png');
  font-family: 'Roboto Condensed', sans-serif;
  color: $text-color;
}

.app {
  width: 40rem;
  margin: 10rem auto;
  text-align: center;
}

.header {
  font-size: 1.5rem;
  font-weight: lighter;
}

.victory,
.betrayal {
  font-weight: bold;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
}

.victory {
  color: $victory-color;
}

.betrayal {
  color: $betrayal-color;
}

input {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  color: $text-color;
  transition: all .2s linear;
  border: 1px solid $input-border;
  border-radius: 3px;
  box-shadow: inset 0 2px 2px $input-border;

  &:active,
  &:focus {
    background-color: rgba(255, 255, 255, 1);;
    outline: none;
  }
}

.lead {
  font-size: 1.5rem;
}
