$text-color: #555;
$victory-color: #48ff48;
$betrayal-color: #ff4848;

$input-bg: #fff;
$input-border: color($input-bg blackness(30%));
$bg-start: #eee;
$bg-end: #ccc;

html {
  height: 100%;
  min-height: 100%;
}

body {
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/first_aid_kit.png');
  font-family: 'Roboto Condensed', sans-serif;
  color: $text-color;
}

.app {
  width: 40rem;
  margin: 10rem auto;
  text-align: center;
}

.header {
  font-size: 1.5rem;
  font-weight: lighter;

  .victory,
  .betrayal {
    font-weight: bold;
  }
}

.victory {
  color: $victory-color;
}

.betrayal {
  color: $betrayal-color;
}

input {
  box-sizing: border-box;
  background-color: $input-bg;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  opacity: 0.7;
  color: $text-color;
  transition: all .2s linear;
  border: 1px solid $input-border;
  border-radius: 3px;

  &:active,
  &:focus {
    opacity: 1;
    outline: none;
  }
}

.lead {
  font-size: 1.5rem;
}
