html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  color: #bbb;
  color: rgba(255, 255, 255, .5);
  background-color: gray;
  background-image: radial-gradient(#333, #222);
}

.app {
  width: 40rem;
  margin: 10rem auto;
  text-align: center;
}

.victory {
  color: #9f9;
}

.betrayal {
  color: #f66;
}

input {
  width: 100%;
  padding: 1rem;
}

.lead {
  font-size: 1.5rem;
}
